# Numpy Quest

In [1]:
import numpy as np

### 1. 1이상 100이하의 홀수로 이루어진 1차원 array를 만드세요.

### 2. 1번에서 만든 1차원 array를 10*5 shape의 2차원 array로 바꿔보세요.

### 3. 1이상 100이하의 정수에서 랜덤추출하여 5*5 shape의 2차원 array를 만드세요.

### 4. 2번의 array에서 처음 5행만 slicing 한 것과, 3번의 array에서 행과 열을 바꾼 것을 세로 방향으로 합쳐보세요.

# Pandas Quest

Kaggle에서 다운로드 가능한 Big mart Sales dataset을 사용합니다. (구글드라이브에 업로드 해두었어요!)

In [2]:
import pandas as pd

In [3]:
# read_csv로 불러온 DataFrame을 df에 저장

df = pd.read_csv('BigmartSales.csv')
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [4]:
# DataFrame의 전반적인 정보 확인

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5681 non-null   object
 1   Item_Weight                4705 non-null   float64
 2   Item_Fat_Content           5681 non-null   object
 3   Item_Visibility            5681 non-null   float64
 4   Item_Type                  5681 non-null   object
 5   Item_MRP                   5681 non-null   float64
 6   Outlet_Identifier          5681 non-null   object
 7   Outlet_Establishment_Year  5681 non-null   int64
 8   Outlet_Size                4075 non-null   object
 9   Outlet_Location_Type       5681 non-null   object
 10  Outlet_Type                5681 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [5]:
df.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  4705.000000      5681.000000  5681.000000                5681.000000
mean     12.695633         0.065684   141.023273                1997.828903
std       4.664849         0.051252    61.809091                   8.372256
min       4.555000         0.000000    31.990000                1985.000000
25%       8.645000         0.027047    94.412000                1987.000000
50%      12.500000         0.054154   141.415400                1999.000000
75%      16.700000         0.093463   186.026600                2004.000000
max      21.350000         0.323637   266.588400                2009.000000

### 1. 위 df에서 칼럼별 결측치 수를 확인하고, 결측치가 가장 많은 칼럼을 삭제해주세요.

### 2. 결측치가 남아있는 칼럼에서, 해당 칼럼의 평균값으로 결측치를 채워주세요.

### 3. Item_Visibility 칼럼의 값이 너무 작습니다. 해당 칼럼에 100을 곱해 새로운 칼럼 Visibility_100을 추가해주세요.

### 4. Item_Type 에 따른 Item_Weight 의 평균을 구하고, 내림차순으로 정렬하여 상위 5개 Item_Type을 구하세요.
hint) groupby를 활용해주세요!